<body>
    <!-- SIDE NAV -->
    <div class="wrapper">
        <div class="sidebar" data-color="green" data-image="/assets/img/full-screen-image-3.jpg">
            <!--
            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag
        -->
            <div class="logo">
                <a href="" class="logo-text">
                FIP
            </a>
            </div>
            <div class="logo logo-mini">
                <a href="" class="logo-text">
                FIP
            </a>
            </div>
            <div class="sidebar-wrapper">
                <!-- NAVBAR -->
                <ul class="nav">
                    <li class="active">
                        <a href="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                    </li>
                    <!-- DATABASES -->
                    <li>
                        <a data-toggle="collapse" href="#componentsExamples">
                            <i class="pe-7s-plugin"></i>
                                <p>Databases
                                    <b class="caret"></b>
                                </p>
                         </a>
                        <div class="collapse" id="componentsExamples">
                            <ul class="nav">
                                <li>
                                    <a href="/fipDev">FIP Development</a>
                                </li>
                                <li>
                                    <a href="/cleDev">Cleveland Development</a>
                                </li>
                                <li>
                                    <a href="/leaseComps">Lease Comparables</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- MAPS -->
                    <li>
                        <a data-toggle="collapse" href="#componentsExamples2">
                            <i class="pe-7s-map-marker"></i>
                                <p>Maps
                                    <b class="caret"></b>
                                </p>
                         </a>
                        <div class="collapse" id="componentsExamples2">
                            <ul class="nav">
                                <li>
                                    <a href="/fipmap">FIP Map</a>
                                </li>
                                <li>
                                    <a href="/clemap">Cleveland Map</a>
                                </li>
                                <li>
                                    <a href="/compsmap">Lease Comp Map</a>
                                </li>
                                <li>
                                    <a href="/allmap">All Sites</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- TOP HEADER -->
        <div class="main-panel">
            <nav class="navbar navbar-default" id="navbar-jump">
                <div class="container-fluid">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-warning btn-fill btn-round btn-icon">
                            <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                            <i class="fa fa-navicon visible-on-sidebar-mini"></i>
                        </button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Cleveland Development</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#bootstrap-table" class="btn btn-wd btn-info">
                                        View Tenants
                                </a>
                            </li>
                            <li>
                                <a href="/logout" class="btn btn-wd btn-danger">
                                        Log out
                                    </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- TABLE -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="toolbar">
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-fill btn-info" id="button-create" data-toggle='modal' data-target='#modal--create'>Add New Site</button>
                                    </div>
                                </div>
                                <table id="bootstrap-table" class="table table-striped bootstrap-table">
                                    <thead>
                                        <th data-field="id" class="text-center">ID</th>
                                        <th data-field="siteName" class="text-center" data-sortable="true">Site</th>
                                        <th data-field="siteAddress" data-sortable="true">Address</th>
                                        <th data-field="dateEntered" data-sortable="true">Date Entered</th>
                                        <th data-field="owner" data-sortable="true">Owner</th>
                                        <th data-field="numUnits" data-sortable="true"># Units</th>
                                        <th data-field="salePrice" data-sortable="true">Sale Price</th>
                                        <th data-field="notes" data-sortable="true">Notes</th>
                                        <th data-field="actions" class="td-actions text-right" data-events="operateEvents" data-formatter="operateFormatter">Actions</th>
                                    </thead>
                                    <tbody>
                                        {{#each cleDev}}
                                        <tr>
                                            <td class="id">{{id}}</td>
                                            <td class="siteName">{{siteName}}</td>
                                            <td class="siteAddress">{{siteAddress}}</td>
                                            <td class="entered">{{entered}}</td>
                                            <td class="owner">{{owner}}</td>
                                            <td class="numUnits">{{numUnits}}</td>
                                            <td class="salePrice">{{salePrice}}</td>
                                            <td class="notes notes-Td-css">{{notes}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <a class="btn btn-fill btn-info" href="#navbar-jump">
                                    <i class="pe-7s-angle-up"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ADD CUSTOMER MODAL -->
            <div class="modal fade" id="modal--create" tabindex="-1" role="dialog" aria-labelledby="modal--create" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Add A Site</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- LEFT PANEL -->
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <form class="create-update-form" action="/api/newCleSite" method="POST">
                                                        <input type="hidden" name="id" id="id" />
                                                        <div class="form-group">
                                                            <label for="siteName">Site</label>
                                                            <input type="text" class="form-control" id="siteName" name="siteName" placeholder="Site Name">
                                                        </div>
                                                        <div class="form-group">
                                                            <!-- Street 1 -->
                                                            <label for="siteStreet" class="control-label">Street Address 1</label>
                                                            <input type="text" class="form-control" id="siteStreet" name="siteStreet1" placeholder="Street address, P.O. box, c/o">
                                                        </div>
                                                        <div class="form-group">
                                                            <!-- Street 2 -->
                                                            <label for="siteStreet2" class="control-label">Street Address 2 (optional) </label>
                                                            <input type="text" class="form-control" id="siteStreet2" name="siteStreet2" placeholder="Apartment, suite, unit, building, floor, etc.">
                                                        </div>
                                                        <div class="form-group">
                                                            <!-- City-->
                                                            <label for="siteCity" class="control-label">City</label>
                                                            <input type="text" class="form-control" id="siteCity" name="siteCity" placeholder="Cleveland">
                                                        </div>
                                                        <div class="form-group">
                                                            <!-- State Button -->
                                                            <label for="siteState" class="control-label">State</label>
                                                            <select class="form-control" id="siteState" name="siteState">
                                                                <option value="OH">Ohio</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <!-- Zip Code-->
                                                            <label for="siteZip" class="control-label">Zip Code</label>
                                                            <input type="text" class="form-control" id="siteZip" name="siteZip" placeholder="#####">
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- RIGHT PANEL -->
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="form-group">
                                                        <label for="entered">Date Entered</label>
                                                        <input type="date" class="form-control" id="entered" name="entered">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="owner">Owner</label>
                                                        <input type="text" class="form-control" id="owner" name="owner">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="numUnits"># of Units</label>
                                                        <input type="number" class="form-control" id="numUnits" name="numUnits">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="salePrice">Sale Price</label>
                                                        <input type="number" class="form-control" id="salePrice" name="salePrice">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="notes">Notes</label>
                                                        <textarea class="form-control" rows="5" id="notes" name="notes"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- MODAL BUTTONS - SAVE & CLOSE -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-success btn-fill btn-wd " method="GET" action="/" type="submit " id="form--event-add">Save changes</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>