<body>
    <!-- SIDE NAV -->
    <div class="wrapper">
        <div class="sidebar" data-color="green" data-image="/assets/img/full-screen-image-3.jpg">
            <!--
            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag
        -->
            <div class="logo">
                <a href="" class="logo-text">
                FIP
            </a>
            </div>
            <div class="logo logo-mini">
                <a href="" class="logo-text">
                FIP
            </a>
            </div>
            <div class="sidebar-wrapper">
                <!-- NAVBAR -->
                <ul class="nav">
                    <!-- DATABASES -->
                    <li>
                        <a data-toggle="collapse" href="#componentsExamples">
                            <i class="pe-7s-plugin"></i>
                                <p>Databases
                                    <b class="caret"></b>
                                </p>
                         </a>
                        <div class="collapse" id="componentsExamples">
                            <ul class="nav">
                                <li>
                                    <a href="/fipDev">FIP Development</a>
                                </li>
                                <li>
                                    <a href="/cleDev">Cleveland Development</a>
                                </li>
                                <li>
                                    <a href="/leaseComps">Lease Comparables</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <!-- MAPS -->
                    <li>
                        <a data-toggle="collapse" href="#componentsExamples2">
                            <i class="pe-7s-map-marker"></i>
                                <p>Maps
                                    <b class="caret"></b>
                                </p>
                         </a>
                        <div class="collapse" id="componentsExamples2">
                            <ul class="nav">
                                <li>
                                    <a href="/fipmap">FIP Map</a>
                                </li>
                                <li>
                                    <a href="/clemap">Cleveland Map</a>
                                </li>
                                <li>
                                    <a href="/compsmap">Lease Comp Map</a>
                                </li>
                                <li>
                                    <a href="/allmap">All Sites</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- TOP HEADER -->
        <div class="main-panel">
            <nav class="navbar navbar-default" id="navbar-jump">
                <div class="container-fluid">
                    <div class="navbar-minimize">
                        <button id="minimizeSidebar" class="btn btn-warning btn-fill btn-round btn-icon">
                            <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                            <i class="fa fa-navicon visible-on-sidebar-mini"></i>
                        </button>
                    </div>
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Lease Comparables</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/logout" class="btn btn-wd btn-danger">
                                        Log out
                                    </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- TABLE -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="toolbar">
                                    <div class="col-md-3">
                                        <button type="button" class="btn btn-fill btn-info" id="button-create" data-toggle='modal' data-target='#modal--create'>Add New Site
                                        </button>
                                    </div>
                                </div>
                                <table id="bootstrap-table" class="table table-striped">
                                    <thead>
                                        <th data-field="id" class="text-center" data-visible="false">ID</th>
                                        <th data-field="siteName" class="text-left" data-sortable="true">Site</th>
                                        <th data-field="address" data-sortable="true">Address</th>
                                        <th data-field="owner" data-sortable="true">Owner</th>
                                        <th data-field="entered" data-sortable="true">Date Entered</th>
                                        <th data-field="sold" data-sortable="true">Date Transferred</th>
                                        <th data-field="salePrice" data-sortable="true">Sale Price</th>
                                        <th data-field="buildingSF" data-sortable="true">Building SF</th>
                                        <th data-field="totalAcreage" data-sortable="true">Acreage</th>
                                        <th data-field="costPerAcre" data-sortable="true">Cost Per Acre</th>
                                        <th data-field="numUnits" data-sortable="true"># of Units</th>
                                        <th data-field="costPerUnit" data-sortable="true">Cost Per Unit</th>
                                        <th data-field="oneBedSF" data-sortable="true">1-Bed Avg. SF</th>
                                        <th data-field="twoBedSF" data-sortable="true">2-Bed Avg. SF</th>
                                        <th data-field="threeBedSF" data-sortable="true">3-Bed Avg. SF</th>
                                        <th data-field="oneBedRent" data-sortable="true">1-Bed Avg. Rent</th>
                                        <th data-field="twoBedRent" data-sortable="true">2-Bed Avg. Rent</th>
                                        <th data-field="threeBedRent" data-sortable="true">3-Bed Avg. Rent</th>
                                        <th data-field="notes" data-sortable="true">Notes</th>
                                        <th data-field="actions" class="td-actions text-right" data-events="operateEvents" data-formatter="operateFormatter">Actions</th>
                                    </thead>
                                    <tbody>
                                        {{#each leaseComps}}
                                        <tr>
                                            <td class="id">{{id}}</td>
                                            <td class="siteName">{{siteName}}</td>
                                            <td class="address">{{address}}</td>
                                            <td class="owner">{{owner}}</td>
                                            <td class="entered">{{entered}}</td>
                                            <td class="sold">{{sold}}</td>
                                            <td class="salePrice">{{ number salePrice}}</td>
                                            <td class="buildingSF">{{ number buildingSF}}</td>
                                            <td class="totalAcreage">{{ number totalAcreage}}</td>
                                            <td class="costPerAcre">{{ number costPerAcre}}</td>
                                            <td class="numUnits">{{ number numUnits}}</td>
                                            <td class="costPerUnit">{{ number costPerUnit}}</td>
                                            <td class="oneBedSF">{{ number oneBedSF}}</td>
                                            <td class="twoBedSF">{{ number twoBedSF}}</td>
                                            <td class="threeBedSF">{{ number threeBedSF}}</td>
                                            <td class="oneBedRent">{{ number oneBedRent}}</td>
                                            <td class="twoBedRent">{{ number twoBedRent}}</td>
                                            <td class="threeBedRent">{{ number threeBedRent}}</td>
                                            <td class="notes notes-Td-css">{{notes}}</td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
                    <!-- end row -->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="pull-right">
                                <a class="btn btn-fill btn-info" href="#navbar-jump">
                                    <i class="pe-7s-angle-up"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ADD CUSTOMER MODAL -->
            <div class="modal fade" id="modal--create" tabindex="-1" role="dialog" aria-labelledby="modal--create" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Add A Site</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- LEFT PANEL -->
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <form class="create-update-form" action="/api/newComp" method="POST">
                                                        <input type="hidden" name="id" id="id" />
                                                        <input type="hidden" name="dbComps" id="dbComps" />
                                                        <input type="hidden" name="latitude" id="latitude" />
                                                        <input type="hidden" name="longitude" id="longitude" />
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label for="siteName">Site</label>
                                                                <input type="text" class="form-control" id="siteName" name="siteName" placeholder="Person name, compnay name">
                                                            </div>
                                                        </div>
                                                        <div class="row ">
                                                            <div class="form-group col-md-12" id="locationField">
                                                                <label for="autocomplete">Address Autocomplete</label>
                                                                <input id="autocomplete" name="address" class="form-control" placeholder="Enter your address" type="text"></input>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="form-group col-md-12">
                                                                <label for="owner">Owner</label>
                                                                <input type="text" class="form-control" id="owner" name="owner" placeholder="Owner">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="buildingSF">Building SF</label>
                                                                    <input type="number" class="form-control" id="buildingSF" placeholder="#,###" name="buildingSF">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="totalAcreage">Total Acreage</label>
                                                                    <input type="decimal" class="form-control" id="totalAcreage" placeholder="###.##" name="totalAcreage">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="salePrice">Sale Price</label>
                                                                    <input type="number" class="form-control" id="salePrice" placeholder="#,###,###" name="salePrice">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="numUnits"># of Units</label>
                                                                    <input type="number" class="form-control" id="numUnits" placeholder="###" name="numUnits">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="entered">Date Entered</label>
                                                                    <input type="text" class="form-control datepicker" id="entered" name="entered" placeholder="Date Entered" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="sold">Date Sold</label>
                                                                    <input type="text" class="form-control datepicker" id="sold" name="sold" placeholder="Date Sold" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- RIGHT PANEL -->
                                        <div class="col-lg-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="oneBedSF">1-Bed SF</label>
                                                                <input type="number" class="form-control" id="oneBedSF" placeholder="#,###" name="oneBedSF">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="twoBedSF">2-Bed SF</label>
                                                                <input type="number" class="form-control" id="twoBedSF" placeholder="#,###" name="twoBedSF">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="threeBedSF">3-Bed SF</label>
                                                                <input type="number" class="form-control" id="threeBedSF" placeholder="#,###" name="threeBedSF">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="oneBedRent">1-Bed Rent</label>
                                                                <input type="number" class="form-control" id="oneBedRent" placeholder="$#,###" name="oneBedRent">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="twoBedRent">2-Bed Rent</label>
                                                                <input type="number" class="form-control" id="twoBedRent" placeholder="$#,###" name="twoBedRent">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="threeBedRent">3-Bed Rent</label>
                                                                <input type="number" class="form-control" id="threeBedRent" placeholder="$#,###" name="threeBedRent">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="notes">Notes</label>
                                                                <textarea class="form-control" rows="13" id="notes" name="notes"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- MODAL BUTTONS - SAVE & CLOSE -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-success btn-fill btn-wd " method="GET" action="/" type="submit " id="form--event-add">Save changes</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>